// app/layout.styl

@import '../_variables'
@import '../_mixins'
@import 'footer'

body
  background: $bodybg

.section-title
  color: #970000

.player
  margin-bottom: 10px

.player-name
  color: #ffffff
  padding: 8px 10px
  border-top-left-radius: 6px
  border-top-right-radius: 6px
  font-weight: bold;
  background: linear-gradient(to bottom, #f89a9f 0%,#94080f 50%,#760006 51%,#e02e37 100%)

  .name-link
    font-size: 18px
    color: #cfcfff
    padding-right: 10px

  .life-symbol
    font-weight: bold
    //font-size: 18px
    padding-left: 10px

  .entityid
    font-style: italic
    padding-left: 10px

  .position
    font-style: italic
    white-space: nowrap
    padding-left: 10px

.player-details
  background-color: #ffffff
  padding: 0px 0px 0px 0px
  font-size: 1em
  margin: 0 auto
  color: #828c8f
