tr
  td
    a(data-hook="id")
  td(data-hook="name")
  td(data-hook="icon")
  td(data-hook="duration")
  td(data-hook="durmode")
  td(data-hook="stackmode")
  td(data-hook="stackmax")
  td(data-hook="actions")
  td(data-hook="debuffactions")
  td(data-hook="buffconditions")
  td(data-hook="debuffconditions")
  td(data-hook="modifiers")
  td(data-hook="requires")
  td(data-hook="debuffbuff")
  td(data-hook="debuffbuffchance")
  td(data-hook="expirybuff")
  td(data-hook="expirybuffchance")
  td(data-hook="description")
  td(data-hook="tooltip")
  td(data-hook="descriptor")
  td(data-hook="smell")
  td(data-hook="castsound")
  td(data-hook="debuffsound")
  td(data-hook="expiredsound")
  td(data-hook="critonly")
  td(data-hook="ffcheck")
  td(data-hook="hitmasks")
  td(data-hook="mutex")
  td(data-hook="cures")
  td(data-hook="causes")
