tr
  td
    a(data-hook="name")
  td(data-hook="class")
  td(data-hook="archetype")
  td(data-hook="model")
  td(data-hook="maxhealth")
  td(data-hook="experience")
  td(data-hook="deadhp")
  td(data-hook="lootondead")
  td(data-hook="lootalive")
  td(data-hook="buffs")
  td(data-hook="signtrange")
  td(data-hook="physics")
  td(data-hook="ismale")
  td(data-hook="isenemy")
  td(data-hook="corpseid")
  td(data-hook="corpsechance")
  td(data-hook="userinst")
