tr
  td
    a(data-hook="id")
  td(data-hook="experience")
  td(data-hook="maxdamage")
  td(data-hook="movementfactor")
  td(data-hook="fertilelevel")
  td(data-hook="hardness")
  td(data-hook="lightopacity")
  td(data-hook="mass")
  td(data-hook="stabilityglue")
  td(data-hook="stabilitysupport")
  td(data-hook="damagecategory")
  td(data-hook="forgecategory")
  td(data-hook="particlecategory")
  td(data-hook="destroycategory")
  td(data-hook="surfacecategory")
  td(data-hook="stepsound")
  td(data-hook="resistance")
  td(data-hook="iscollidable")
  td(data-hook="isgroundCover")
  td(data-hook="isliquid")
  td(data-hook="isplant")

