tr
  td
    a(data-hook="id")
  td(data-hook="name")
  td(data-hook="group")
  td(data-hook="subtitle")
  td(data-hook="difficulty")
  td(data-hook="icon")
  td(data-hook="repeatable")
  td(data-hook="category")
  td(data-hook="actions")
  td(data-hook="requirements")
  td(data-hook="objectives")
  td(data-hook="rewards")
