tr
  td(style="padding: 3px;")
    a(data-hook="type")
  td(data-hook="count")
  td(data-hook="craftarea")
  td(data-hook="craftexp")
  td(data-hook="crafttime")
  td(data-hook="crafttool")
  td(data-hook="ingredients")
  td(data-hook="skillgroup")
  td(data-hook="ismatbased")
  td(data-hook="iswildforge")
