tr
  td
    a(data-hook="name")
  td(data-hook="localized")
  td(data-hook="expgainmult")
  td(data-hook="group")
  td(data-hook="exptonext")
  td(data-hook="level")
  td(data-hook="islocked")
  td(data-hook="titlekey")
  td(data-hook="desckey")
  td(data-hook="icon")
  td(data-hook="maxlevel")
  td(data-hook="baseexpto")
  td(data-hook="expmult")
  td(data-hook="ispassive")
  td(data-hook="isperk")
  td(data-hook="iscrafting")
  td(data-hook="alwaysfire")
  td(data-hook="costper")
  td(data-hook="costmult")
  td(data-hook="skillreqs")
  td(data-hook="lockeditems")
  td(data-hook="effects")
