section.page.pageOne
  h2 Collection demo

  ul.list-group(data-hook="people-list")

  .buttons.btn-group
    button.btn.btn-default(data-hook="reset") .reset() 
    button.btn.btn-default(data-hook="fetch") .fetch() 
    button.btn.btn-default(data-hook="shuffle") .shuffle() 
    button.btn.btn-default(data-hook="add") .addRandom()
    a.btn.btn-default(href="/person/add") Add Person

