section.page.console
  h2 Bad Company SM Web UI

  form(data-hook="console-form")
    fieldset(data-hook="field-container")
    .buttons
      button.btn(data-hook="reset", type="submit") Submit

  div(data-hook="command")

  br

  pre(data-hook="response")
