section.page.login
  h2 Admin Token Credentials

  form(data-hook="login-form")
    fieldset(data-hook="field-container")
    .buttons
      button.btn(data-hook="reset", type="submit") Submit

  br

  br

  div(data-hook="steam-login")
    span() Steam Login comming soon...