section.page.login
  h2 Admin Token Credentials

  p(data-hook="credentials")

  form(data-hook="login-form")
    fieldset(data-hook="field-container")
    .buttons
      button.btn(data-hook="login-button" type="submit") Submit

  button.btn(data-hook="clear-button") Clear

  br

  div()
    div() Steam Open ID
    div
      a(data-hook="steam-login" href="/session/login" target="_blank")
        img(src="/static/img/steamlogin.png" title="Sign in through Steam")
    div
      a(data-hook="steam-logout" href="/session/logout" target="_blank") Logout
      