section.page.pageOne
  h2 Players Online

  ul.list-group(data-hook="player-list")

  .buttons.btn-group
    button.btn.btn-default(data-hook="reset") .reset() 
    button.btn.btn-default(data-hook="fetch") .fetch() 
    button.btn.btn-default(data-hook="shuffle") .shuffle() 
    button.btn.btn-default(data-hook="add") .addRandom()
    a.btn.btn-default(href="/player/add") Add Player

