body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') Bad Company SM Web UI
      ul.nav.navbar-nav
        li
          a(href="/") home
        li
          a(href="/collections") collection demo
  .container
    main(data-hook="page-container")
    footer.footer-main
      nav.nav-footer.cf
        div
          a.nav-item.external(href="") 
        div
          a.nav-item.external(href="") 
        div
          a.nav-item.external(href="") 
