body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/static/BCM.html?home') Bad Company SM
      ul.nav.navbar-nav
        li
          a(href="/static/BCM.html?console") Console
        li
          a(href="/static/BCM.html?players/online") Players
        li
          a(href="/static/BCM.html?entities/enemies") Entities
        li
          a(href="/static/BCM.html?gameobjects") GameObjects
        li
          a(href="/static/BCM.html?login") Login

  nav(data-hook="game-stats")

  .container-fluid
    div(class="clearfix")    
    main(data-hook="page-container")
    div(class="clearfix")    
    footer.footer-main
      nav.nav-footer.cf
        div
          a.nav-item.external(href="https://github.com/7days2mod/" target="_blank") 7Days2Mod Home
        div
          a.nav-item.external(href="https://github.com/7days2mod/BadCompanySM" target="_blank") Bad Company SM
        div
          a.nav-item.external(href="https://7daystodie.com/forums/forum.php" target="_blank") Forums
