tr.font-07em
  td(data-hook="uid")
  td(data-hook="stat")
  td(data-hook="type")
  td
    span(data-hook="valend")
    span()  / 
    span(data-hook="freq")
    span() s - 
    span(data-hook="fdur")
    span() s
  td(data-hook="target")
