tr.font-07em
  td
    span() Level: 
    span(data-hook="minlevel")
    span()  - 
    span(data-hook="maxlevel")
  td
    span() Default: 
    span(data-hook="minqual")
    span()  - 
    span(data-hook="maxqual")
  td(data-hook="items")
