ul.nav.navbar-nav.font-07em
  li
    a(href="/static/BCM.html?gameobjects/archetypes") Archetypes
  li
    a(href="/static/BCM.html?gameobjects/biomes") Biomes
  li
    a(href="/static/BCM.html?gameobjects/biomespawning") BiomeSpawning
  li
    a(href="/static/BCM.html?gameobjects/blocks") Blocks
  li
    a(href="/static/BCM.html?gameobjects/buffs") Buffs
  li
    a(href="/static/BCM.html?gameobjects/entityclasses") EntityClasses
  li
    a(href="/static/BCM.html?gameobjects/entitygroups") EntityGroups
  li
    a(href="/static/BCM.html?gameobjects/itemclasses") ItemClasses
  li
    a(href="/static/BCM.html?gameobjects/items") Items
  li
    a(href="/static/BCM.html?gameobjects/lootcos") LootContainers
  li
    a(href="/static/BCM.html?gameobjects/lootgrs") LootGroups
  li
    a(href="/static/BCM.html?gameobjects/lootqts") LootQualityTemplates
  li
    a(href="/static/BCM.html?gameobjects/lootpts") LootProbabilityTemplates
  li
    a(href="/static/BCM.html?gameobjects/materials") Materials
  li
    a(href="/static/BCM.html?gameobjects/prefabs") Prefabs
  li
    a(href="/static/BCM.html?gameobjects/quests") Quests
  li
    a(href="/static/BCM.html?gameobjects/recipes") Recipes
  li
    a(href="/static/BCM.html?gameobjects/rwgs") Rwgs
  li
    a(href="/static/BCM.html?gameobjects/skills") Skills
  li
    a(href="/static/BCM.html?gameobjects/spawners") Spawners