div
  div.gamestat()
    span.stat() Day 
    span.val(data-hook="game-day") 
  div.gamestat()
    span.stat() Time 
    span.val(data-hook="game-time") 
  div.gamestat()
    span.stat() Uptime 
    span.val(data-hook="game-ticks") 
  div.gamestat()
    span.stat() FPS 
    span.val(data-hook="game-fps") 
  div.gamestat()
    span.stat() Clients 
    span.val(data-hook="game-clients") 
  div.gamestat()
    span.stat() Entities 
    span.val(data-hook="game-entities") 
  div.gamestat()
    span.stat() Players 
    span.val(data-hook="game-players") 
  div.gamestat()
    span.stat() Enemies 
    span.val(data-hook="game-enemies") 
  div.gamestat()
    span.stat() Observers 
    span.val(data-hook="game-observers") 
  div.gamestat()
    span.stat() Chunks 
    span.val(data-hook="game-chunks") 
  div.gamestat()
    span.stat() Objects 
    span.val(data-hook="game-objects") 
  div.gamestat()
    span.stat() Items 
    span.val(data-hook="game-items") 
  div.gamestat()
    span.stat() Heap 
    span.val(data-hook="game-heap") 
    span.stat() Max 
    span.val(data-hook="game-max") 
    span.stat() Rss 
    span.val(data-hook="game-rss") 