ul.nav.navbar-nav.font-08em.col-md-12
  li.col-md-2
    ul.nav
      li
        H3() Entities
      li.submenu
        a(href="/static/BCM.html?gameobjects/archetypes") Archetypes
      li.submenu
        a(href="/static/BCM.html?gameobjects/entityclasses") Classes
      li.submenu
        a(href="/static/BCM.html?gameobjects/entitygroups") Groups
      li.submenu
        a(href="/static/BCM.html?gameobjects/biomespawning") BiomeSpawning
      li.submenu
        a(href="/static/BCM.html?gameobjects/spawners") Spawners

  li.col-md-2
    ul.nav
      li
        H3() Objects
      li.submenu
        a(href="/static/BCM.html?gameobjects/itemclasses") Item Classes
      li.submenu
        a(href="/static/BCM.html?gameobjects/blocks") Blocks
      li.submenu
        a(href="/static/BCM.html?gameobjects/items") Items
      li.submenu
        a(href="/static/BCM.html?gameobjects/recipes") Recipes
      li.submenu
        a(href="/static/BCM.html?gameobjects/materials") Materials

  li.col-md-2
    ul.nav
      li
        H3() Loot
      li.submenu
        a(href="/static/BCM.html?gameobjects/lootcos") Containers
      li.submenu
        a(href="/static/BCM.html?gameobjects/lootgrs") Groups
      li.submenu
        a(href="/static/BCM.html?gameobjects/lootqts") Qual Templates
      li.submenu
        a(href="/static/BCM.html?gameobjects/lootpts") Prob Templates

  li.col-md-2
    ul.nav
      li
        H3() World
      li.submenu
        a(href="/static/BCM.html?gameobjects/biomes") Biomes
      li.submenu
        a(href="/static/BCM.html?gameobjects/prefabs") Prefabs
      li.submenu
        a(href="/static/BCM.html?gameobjects/rwgs") Rwg

  li.col-md-2
    ul.nav
      li
        H3() Modifiers
      li.submenu
        a(href="/static/BCM.html?gameobjects/buffs") Buffs
      li.submenu
        a(href="/static/BCM.html?gameobjects/skills") Skills
      li.submenu
        a(href="/static/BCM.html?gameobjects/quests") Quests
