section.page
  div.clearfix
    div(data-hook="game-object-menu")

  h2.section-title Buffs

  .buttons.btn-group
    button.btn.btn-default(data-hook="fetch") Refresh 

  table.table.table-striped.table-hover
    thead
      tr
        th
          span() Id
        th
          span() Name
        th
          span() Icon
        th
          span() Duration
        th
          span() DurMode
        th
          span() StackMode
        th
          span() StackMax
        th
          span() Actions
        th
          span() DebuffActions
        th
          span() BuffConditions
        th
          span() DebuffConditions
        th
          span() Modifiers
        th
          span() Requires
        th
          span() DebuffBuff
        th
          span() DebuffBuffChance
        th
          span() ExpiryBuff
        th
          span() ExpiryBuffChance
        th
          span() Description
        th
          span() Tooltip
        th
          span() Descriptor
        th
          span() Smell
        th
          span() CastSound
        th
          span() DebuffSound
        th
          span() ExpiredSound
        th
          span() CritOnly
        th
          span() FFCheck
        th
          span() HitMasks
        th
          span() Mutex
        th
          span() Cures
        th
          span() Causes
    tbody(data-hook="buff-list")
