section.page
  div.clearfix
    div(data-hook="game-object-menu")

  h2.section-title Entity Classes

  .buttons.btn-group
    button.btn.btn-default(data-hook="fetch") Refresh 

  table.table.table-striped.table-hover
    thead
      tr
        th
          span() Name
        th
          span() Class
        th
          span() Archetype
        th
          span() Model
        th
          span() MaxHealth
        th
          span() Experience
        th
          span() DeadHP
        th
          span() LootOnDeath
        th
          span() LootAlive
        th
          span() Buffs
        th
          span() SightRange
        th
          span() Physics
        th
          span() IsMale
        th
          span() IsEnemy
        th
          span() CorpseId
        th
          span() CorpseChance
        th
          span() UserInst
    tbody(data-hook="entityclass-list")
