section.page
  div.clearfix
    div(data-hook="game-object-menu")

  h2.section-title Loot Probability Templates

  .buttons.btn-group
    button.btn.btn-default(data-hook="fetch") Refresh 

  table.table.table-striped.table-hover
    thead
      tr
        th
          span() Name
        th
          span() Templates
    tbody(data-hook="lootpt-list")