section.page
  div.clearfix
    div(data-hook="game-object-menu")

  h2.section-title Materials

  .buttons.btn-group
    button.btn.btn-default(data-hook="fetch") Refresh 

  table.table.table-striped.table-hover
    thead
      tr
        th
          span() Id
        th
          span() Experience
        th
          span() MaxDamage
        th
          span() MovementFactor
        th
          span() FertileLevel
        th
          span() Hardness
        th
          span() LightOpacity
        th
          span() Mass
        th
          span() StabilityGlue
        th
          span() StabilitySupport
        th
          span() DamageCategory
        th
          span() ForgeCategory
        th
          span() ParticleCategory
        th
          span() DestroyCategory
        th
          span() SurfaceCategory
        th
          span() StepSound
        th
          span() Resistance
        th
          span() IsCollidable
        th
          span() IsGroundCover
        th
          span() IsLiquid
        th
          span() IsPlant
    tbody(data-hook="material-list")
