section.page
  div(data-hook="game-object-menu")

  h2.section-title Skills

  .buttons.btn-group
    button.btn.btn-default(data-hook="fetch") Refresh 

  table.table.table-striped.table-hover
    thead
      tr
        th
          span() Id
        th
          span() Name
        th
          span() Localized
        th
          span() ExpGainMult
        th
          span() Group
        th
          span() ExpToNext
        th
          span() Level
        th
          span() IsLocked
        th
          span() TitleKey
        th
          span() DescKey
        th
          span() Icon
        th
          span() MaxLevel
        th
          span() BaseExpTo
        th
          span() ExpMult
        th
          span() IsPassive
        th
          span() IsPerk
        th
          span() IsCrafting
        th
          span() AlwaysFire
        th
          span() CostPer
        th
          span() CostMult
        th
          span() SkillReqs
        th
          span() LockedItems
        th
          span() Effects
    tbody(data-hook="skill-list")
