.cf:before,
.cf:after {
  content: " ";
  display: table;
}
.footer-main {
  padding: 40px 20px;
  border-top: 1px solid #f7f7f7;
  font-family: 'Gotham Rounded A', 'Gotham Rounded B', Helvetica, Arial, sans-serif;
  font-size: 1em;
  text-align: center;
  color: #828c8f;
}
.footer-main .nav-footer {
  max-width: 500px;
  margin: 0 auto;
}
.footer-main .nav-footer div {
  width: 33.33%;
  padding: 0 5px;
  float: left;
}
.footer-main p {
  margin: 10px 0;
}
.footer-main .nav-item {
  margin-bottom: 3px;
  display: block;
}
.footer-main .logo-ampersand-pink {
  width: 17px;
  height: 20px;
  margin-top: 10px;
  display: inline-block;
  text-indent: -9999em;
  background: url("images/logo-ampersand.png") no-repeat top center;
  background-size: 17px auto;
}
body {
  background: #202020;
}
.section-title {
  color: #970000;
}
.player {
  margin-bottom: 10px;
}
.player-name {
  color: #fff;
  padding: 8px 10px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  font-weight: bold;
  background: linear-gradient(to bottom, #f89a9f 0%, #94080f 50%, #760006 51%, #e02e37 100%);
}
.player-name .name-link {
  font-size: 18px;
  color: #cfcfff;
  padding-right: 10px;
}
.player-name .life-symbol {
  font-weight: bold;
  padding-left: 10px;
}
.player-name .entityid {
  font-style: italic;
  padding-left: 10px;
}
.player-name .position {
  font-style: italic;
  white-space: nowrap;
  padding-left: 10px;
}
.player-details {
  background-color: #fff;
  padding: 0px 0px 0px 0px;
  font-size: 1em;
  margin: 0 auto;
  color: #828c8f;
}
