// app/layout.styl

@import '../_variables'
@import '../_mixins'
@import 'footer'

body
  background: $bodybg

.section-title
  color: #970000

.player
  display: inline-block
  width: 350px
  margin: 4px
  padding: 4px
  border-top: 1px solid #800
  border-right: 1px solid #800
  border-bottom: 1px solid #800
  border-left: 1px solid #800
  border-top-right-radius: 6px
  border-top-left-radius: 6px
  
.player-name
  padding: 3px 4px
  min-height: 34px

  .name-link
    color: #428bca
    font-weight: bold
    font-size: 24px
    color: #428bca
    min-height: 34px

  .life-symbol
    font-size: 1.4em
    font-weight: bold
    padding-left: 6px
    min-height: 34px

  .entityid
    font-style: italic
    padding-left: 0px
    min-height: 34px

  .coretemp
    font-size: 0.8em
    padding-left: 6px
    min-height: 34px

  .position
    font-style: italic
    font-size: 1.0em
    white-space: nowrap
    padding-left: 6px
    min-height: 34px

.player-details
  background-color: #ffffff
  padding: 0px 0px 0px 0px
  font-size: 1em
  margin: 0 auto
  color: #828c8f

.pad-left-10 {
  padding-left: 10px
}

.pad-left-5 {
  padding-left: 5px
}

.stat-health {
  color: #ff0000
}

.stat-stamina {
  color: #0000ff
}

.stat-food {
  color: #4caf50
}

.stat-drink {
  color: #64b5f6
}

.stat-exp {
  color: #0000ff
}

.hoverlink {
  cursor: pointer
}

.hoverlink:hover {
  text-decoration: none
  cursor: pointer
}

.stat-bar {
  height: 5px
  display: inline-block
  margin-right: 5px
}

  .bar-bg {
    background-color: #cfcfcf
    width: 90px
  }

    .bg-320 {
      width: 320px
    }

    .bg-60 {
      width: 60px
    }

  .bar-health {
    background-color: #ff0000
    width: 0px
    vertical-align: top
  }

  .bar-stamina {
    background-color: #0000ff
    width: 0px
    vertical-align: top
  }

  .bar-food {
    background-color: #4caf50
    width: 0px
    vertical-align: top
  }

  .bar-drink {
    background-color: #64b5f6
    width: 0px
    vertical-align: top
  }

  .bar-exp {
    background-color: #0000ff
    width: 0px
    vertical-align: top
  }

.div-inline {
  display: inline-block
}

.level-progress {
  font-size: 0.8em
}

.life-span {
  font-size: 0.8em
}

.font-06em {
  font-size: 0.6em
}

.font-07em {
  font-size: 0.7em
}

.font-08em {
  font-size: 0.8em
}

.font-09em {
  font-size: 0.9em
}

.font-11em {
  font-size: 1.1em
}

.font-12em {
  font-size: 1.2em
}

.alive {
  content: "\2625"
}

.dead {
  content: "\2620"
}

.nowrap {
  white-space: nowrap
}
