.player
  display: inline-block
  width: 350px
  margin: 4px
  padding: 4px
  border-top: 1px solid #800
  border-right: 1px solid #800
  border-bottom: 1px solid #800
  border-left: 1px solid #800
  border-top-right-radius: 6px
  border-top-left-radius: 6px
  
.player-name
  padding: 3px 4px
  min-height: 34px

  .name-link
    color: #428bca
    font-weight: bold
    font-size: 24px
    color: #428bca
    min-height: 34px

  .life-symbol
    font-size: 1.4em
    font-weight: bold
    padding-left: 6px
    min-height: 34px

  .entityid
    font-style: italic
    padding-left: 0px
    min-height: 34px

  .coretemp
    font-size: 0.8em
    padding-left: 6px
    min-height: 34px

  .position
    font-style: italic
    font-size: 1.0em
    white-space: nowrap
    padding-left: 6px
    min-height: 34px

.player-details
  background-color: #ffffff
  padding: 0px 0px 0px 0px
  font-size: 1em
  margin: 0 auto
  color: #828c8f
