tr
  td(style="padding: 3px;")
    a(data-hook="name")
  td(data-hook="steamid" style="padding: 3px;")
  td(data-hook="entityid" style="padding: 3px;")
  td(data-hook="isonline" style="padding: 3px;")
  td(data-hook="lastonline" style="padding: 3px;")
  td(data-hook="lastwrite" style="padding: 3px;")
