div.col-xs-12.player
  div.col-md-6.player-name
    
    div
      div
        a.name-link(data-hook="name") 
      div
        span.entityid()
          | &#40;
          a.hoverlink(data-hook="entityid" title="click to copy to clipboard")
          | &#41;
        | &#32;
        span.steamid()
          | &#40;
          a.hoverlink(data-hook="steamid" title="click to copy to clipboard")
          | &#41;
    
    div
      div.div-inline
        div.div-inline
          div()
            span.stat-health.pad-left-10() H:
            span(data-hook="health")
            span /
            span(data-hook="wellness")
          div.stat-bar.bar-bg()
            div.stat-bar.bar-health(data-hook="health-bar")
      
        div.div-inline
          div()
            span.stat-stamina.pad-left-10() S:
            span(data-hook="stamina")
            span /
            span(data-hook="wellness")
          div.stat-bar.bar-bg()
            div.stat-bar.bar-stamina(data-hook="stamina-bar")

      div.div-inline
        div.div-inline
          div()
            span.stat-food.pad-left-10() F:
            span(data-hook="food")
            span /100
          div.stat-bar.bar-bg()
            div.stat-bar.bar-food(data-hook="food-bar")

        div.div-inline
          div()
            span.stat-drink.pad-left-10() D:
            span(data-hook="drink")
            span /100
          div.stat-bar.bar-bg()
            div.stat-bar.bar-drink(data-hook="drink-bar")
    
    div
      span.position()
        a.hoverlink(data-hook="copypos" title="click to copy to clipboard") &#64;
        span() &#32;
        span(data-hook="position")
        span(style="color:#428bca;") &#32;&#32;&#8635;&#32;
        span(data-hook="rotangle")
        span() &#0176;
        span(style="color:#428bca;") &#32;&#32;&#8737;&#32;
        span(data-hook="viewangle")
      span.coretemp
        | T:
        span(data-hook="coretemp")
        span() &#8457;
      span.life-symbol(data-hook="isalive")
    
  div.col-md-6.player-details
    div()
      div
        div.col-xs-6()
          span() Gamestage: 
        div.col-xs-6.text-right()
          span(data-hook="gamestage")
      div
        div.col-xs-6()
          span() Score: 
        div.col-xs-6.text-right()
          span(data-hook="score")
      div
        div.col-xs-6()
          span() Player Kills: 
        div.col-xs-6.text-right()
          span(data-hook="pkill")
      div
        div.col-xs-6()
          span() Zombie Kills: 
        div.col-xs-6.text-right()
          span(data-hook="zkill")
      div
        div.col-xs-6()
          span() Deaths: 
        div.col-xs-6.text-right()
          span(data-hook="deaths")
      div
        div.col-xs-6()
          span() Current Life: 
        div.col-xs-6.text-right()
          span(data-hook="current")
      div
        div.col-xs-6()
          span() Longest Life: 
        div.col-xs-6.text-right()
          span(data-hook="longest")

      div
        div.col-xs-6()
          span() Level: 
        div.col-xs-6.text-right()
          span(data-hook="level") 
          |  &#40;+
          span(data-hook="progress")
          | &#37;&#41;
      div
        div.col-xs-6()
          span() XP Progress: 
        div.col-xs-6.text-right()
          span(data-hook="expprogress")
      div
        div.col-xs-6()
          span() Craft Count: 
        div.col-xs-6.text-right()
          span(data-hook="crafted")
      div
        div.col-xs-6()
          span() Walked: 
        div.col-xs-6.text-right()
          span(data-hook="walked")
      div
        div.col-xs-6()
          span() Speed: 
        div.col-xs-6.text-right()
          span(data-hook="speed")

      div
        div.col-xs-4()
          div Ip: 
        div.col-xs-8.text-right()
          div
            span(data-hook="ip")
      div
        div.col-xs-4()
          div Session: 
        div.col-xs-8.text-right()
          div
            span(data-hook="session")
      div
        div.col-xs-4()
          div PlayTime: 
        div.col-xs-8.text-right()
          div
            span(data-hook="playtime")
      div
        div.col-xs-4()
          div Ping: 
        div.col-xs-8.text-right()
          div
            span(data-hook="ping")
      div
        div.col-xs-4()
          div LastOnline: 
        div.col-xs-8.text-right()
          div
            span(data-hook="online")
