div.player
  div.player-name
    div
      div
        a.name-link(data-hook="name") 
      div
        span.entityid()
          | &#40;
          a.hoverlink(data-hook="entityid" title="click to copy to clipboard")
          | &#41;
        | &#32;
        span.steamid()
          | &#40;
          a.hoverlink(data-hook="steamid" title="click to copy to clipboard")
          | &#41;
  
  div.player-details
    div
      div.div-inline
        div.div-inline
          div()
            span.stat-health.pad-left-10() H:
            span(data-hook="health")
            span /
            span(data-hook="wellness")
          div.stat-bar.bar-bg()
            div.stat-bar.bar-health(data-hook="health-bar")
      
        div.div-inline
          div()
            span.stat-stamina.pad-left-10() S:
            span(data-hook="stamina")
            span /
            span(data-hook="wellness")
          div.stat-bar.bar-bg()
            div.stat-bar.bar-stamina(data-hook="stamina-bar")

      div.div-inline
        div.div-inline
          div()
            span.stat-food.pad-left-10() F:
            span(data-hook="food")
            span /100
          div.stat-bar.bar-bg()
            div.stat-bar.bar-food(data-hook="food-bar")

        div.div-inline
          div()
            span.stat-drink.pad-left-10() D:
            span(data-hook="drink")
            span /100
          div.stat-bar.bar-bg()
            div.stat-bar.bar-drink(data-hook="drink-bar")

    div.div-inline
      div()
        span.stat-exp.pad-left-10() Lvl: 
          span(data-hook="level") 
          |  &#40;+
          span.level-progress(data-hook="progress")
          | &#37;&#41;
        span.level-progress.pad-left-10() XP:
          span(data-hook="expprogress")
      div.stat-bar.bar-bg.bg-280()
        div.stat-bar.bar-exp(data-hook="exp-progress-bar")

    div
      span.position()
        a.hoverlink(data-hook="copypos" title="click to copy to clipboard") &#64;
        span() &#32;
        span(data-hook="position")
        span(style="color:#428bca;") &#32;&#32;&#8635;&#32;
        span(data-hook="rotangle")
        span() &#0176;
        span(style="color:#428bca;") &#32;&#32;&#8737;&#32;
        span(data-hook="viewangle")
      span.coretemp.pad-left-5
        span(style="color:#428bca;") t&#32;
        span(data-hook="coretemp")
        span() &#8457;
      span.life-symbol.pad-left-5(data-hook="isalive")
      span.life-span.pad-left-5()
        span(data-hook="life-time")

    div
      span.pad-left-5() Crft: 
        span(data-hook="crafted")
      span.pad-left-5() Wlk: 
        span(data-hook="walked")
      span.pad-left-5() Spd: 
        span(data-hook="speed")
      span.pad-left-5() PlayTime: 
        span(data-hook="playtime")
    div
      span.pad-left-5() GS: 
        span(data-hook="gamestage")
      span.pad-left-5() Sc: 
        span(data-hook="score")
      span.pad-left-5() PK: 
        span(data-hook="pkill")
      span.pad-left-5() ZK: 
        span(data-hook="zkill")
      span.pad-left-5() Dth: 
        span(data-hook="deaths")
    div
      span.pad-left-5() Ip: 
        span(data-hook="ip")
      span.pad-left-5() Sess: 
        span(data-hook="session")
      span.pad-left-5() Png: 
        span(data-hook="ping")
