li.player.list-group-item.container
  a(data-hook="name" width="150" style="overflow:hidden;")
  span(data-hook="steamid" style="margin-left:10px;")
  span(data-hook="entityid" style="margin-left:10px;")
  span(data-hook="ip" style="margin-left:10px;")
  span(data-hook="ping" style="margin-left:10px;")
  span(data-hook="session" style="margin-left:10px;")
  span(data-hook="playtime" style="margin-left:10px;")
  span(data-hook="online" style="margin-left:10px;")
  span(data-hook="position" style="margin-left:10px;")
  span(data-hook="rotation" style="margin-left:10px;")
  span(data-hook="health" style="margin-left:10px;")
  span(data-hook="stamina" style="margin-left:10px;")
  span(data-hook="wellness" style="margin-left:10px;")
  span(data-hook="food" style="margin-left:10px;")
  span(data-hook="drink" style="margin-left:10px;")
  span(data-hook="coretemp" style="margin-left:10px;")
  span(data-hook="speed" style="margin-left:10px;")
  span(data-hook="isdead" style="margin-left:10px;")
  span(data-hook="level" style="margin-left:10px;")
  span(data-hook="progress" style="margin-left:10px;")
  span(data-hook="tonext" style="margin-left:10px;")
  span(data-hook="fornext" style="margin-left:10px;")
  span(data-hook="gamestage" style="margin-left:10px;")
  span(data-hook="score" style="margin-left:10px;")
  span(data-hook="pkill" style="margin-left:10px;")
  span(data-hook="zkill" style="margin-left:10px;")
  span(data-hook="deaths" style="margin-left:10px;")
  span(data-hook="walked" style="margin-left:10px;")
  span(data-hook="crafted" style="margin-left:10px;")
  span(data-hook="current" style="margin-left:10px;")
  span(data-hook="longest" style="margin-left:10px;")